.logo_icon {
  width: 60%;
  margin: 10px 0;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent {
  background: #2c458f !important;
  padding: 0;
}

.me-auto.navbar-nav a {
  color: #fff;
  font-size: 16px;
  padding: 10px 25px !important;
  background: transparent;
  text-align: left;
  font-weight: 600;
}

.me-auto.navbar-nav a:hover {
  background: #fff !important;
  color: #000;
  border-radius: 5px;
}

.mob-hide {
  width: 72% !important;
  float: left !important;
  text-align: left;
}

.center-box{
  display: flex;
  justify-content: center;
  padding: 20px;
}
button.center-button.btn.btn-primary {
  background: #2c458f;
}
button.center-button.btn.btn-primary:hover {
  background: #b3821f;
  border-color: gold;
}
.center-button{
  align-items: center;
}
.text-center.exit.modal-body {
  font-size: 20px !important;
}
button.cutomof{
  padding: 5px 25px;
  font-size: 16px !important;
}
.modal-dialog {
  position: relative;
  top: 25%;
  max-width: 500px;
}
@media screen and (min-width:992px) {
  .mob-hide {
    display: none;
  }
}
@media screen and (min-width:320px) and (max-width:768px){
  .logo_icon{
    margin: 0 auto;
    display: block;
    padding: 10px;
  }
}