.error-img{
    padding: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    max-width: 100%;
}
p.card-text {
    color: #000;
    border: none;
}
.errortitle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.custombt{
    text-align: center;
    margin: 0 auto;
    display: block;
}
p.errortitle.card-text{
    border: none !important;
    color: #000 !important;
}
